<h1>SearchController#execute_search</h1>
<p>Find me in app/views/search_controller/execute_search.html.erb</p>
<p>Stock: </p>
<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
  </tr>

  <% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.symbol %></td>
    <td><%= stock.name %></td>
  </tr>
  <% end %>
</table>